$-fonte-primaria: "Alata", sans-serif;
$-fonte-secundaria: "Josefin Sans", sans-serif;

$-White: hsl(0, 0%, 100%);
$-Black: hsl(0, 0%, 0%);
$-White-Gray: hsl(0, 0%, 55%);
$-Very-Dark-Gray: hsl(0, 0%, 41%);
